[33mcommit 2e633130b516898cf3a9b7f23067325ed0710dfa[m[33m ([m[1;36mHEAD[m[33m -> [m[1;32mmain[m[33m, [m[1;32mfrontend[m[33m, [m[1;32mbackend[m[33m)[m
Author: Surbhi-Saini <surbhisaini9891@gmail.com>
Date:   Thu Feb 29 12:28:21 2024 +0530

    new file

[33mcommit 81ba78f0ea67e83fc698bfb7cae2953f96f48846[m[33m ([m[1;31morigin/main[m[33m, [m[1;31morigin/HEAD[m[33m)[m
Author: Surbhi-Saini <161686549+Surbhi-Saini@users.noreply.github.com>
Date:   Thu Feb 29 12:13:05 2024 +0530

    Add files via upload

[33mcommit 6927aa79848521a5ffd7f445c7b4510337998f39[m
Author: Surbhi-Saini <161686549+Surbhi-Saini@users.noreply.github.com>
Date:   Thu Feb 29 12:12:26 2024 +0530

    Add files via upload

[33mcommit 1f57cc5ea5aa9c6ccfe58e9e16fb668557ec8f45[m
Author: Surbhi-Saini <161686549+Surbhi-Saini@users.noreply.github.com>
Date:   Thu Feb 29 12:11:37 2024 +0530

    index.html
